.gps_btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  border: 0px solid #e5e7eb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
