.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.gps_btn {
  position: absolute;
  right: 15px;
  bottom: 75px;
  z-index: 10;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  border: 0px solid #e5e7eb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gps_btn-mobile {
  bottom: 75px;
  width: 38px;
  height: 38px;
}

.map-search-btn {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 8px 12px;
  border-radius: 9999px;
  border: none;
  background: #0ea5e9;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.map-search-btn:hover {
  background-color: #1c9ddd;
}

.map-search-btn:active {
  transform: translateX(-50%) scale(0.98);
}

/* Global Loading */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  backdrop-filter: blur(0.5px); /* 블러 효과 (선택사항) */
  pointer-events: auto;
  cursor: wait;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.spinner {
  width: 60px;
  height: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
/* Global Loading */
