.sidebar_container {
  position: absolute;
  top: 0;
  left: 64px;
  width: 320px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
  z-index: 10;
  will-change: transform;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.sidebar_container.open {
  transform: translateX(0);
  pointer-events: auto;
}
.sidebar_container.close {
  transform: translateX(-100%);
  box-shadow: none;
}

.sidebar_toggle_btn {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 23px;
  height: 46px;
  border: 1px solid #d1d5db;
  border-radius: 0px 9px 9px 0px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
