.sidebar_container {
  position: absolute;
  top: 0;
  left: 64px;
  width: 320px;
  height: 100%;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  transition: transform 0.3s ease;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
  will-change: transform;
  z-index: 2;
}

.sidebar_container.open {
  transform: translateX(0);
  pointer-events: auto;
}

/* 닫힘 상태 */
.sidebar_container.closed {
  transform: translateX(-100%);
  pointer-events: none;
  box-shadow: none;
}
